.menu {
  padding: 30px;
  background-color: #00027a;
  width: 100%;
  font-weight: 700;
  text-align: left;
}

body {
  font-family: Optima, Geneva, Futara, 'Avanta Garde', sans-serif;
  background-color: #121212;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {width: 100%; height: 100%; margin: 0; padding: 0}

a:link, a:visited {text-decoration: none;}

a:hover, a:active {text-decoration: underline;}

.flex-container {
  display: flex;
  height: 33%;
}

.flex-child {
  flex: 1;
}

/* .flex-child:first-child {
  margin-right: 10px;
}
 */
