<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
    <style>
        td {
            border: 1px solid black;
        }

    </style>
</head>
<body>
<form id="activity" action="{{url_for('dropdown')}}" method="POST">
    <select name="activity">
        {% for key,value in data.items() %}
        <option value= "{{key}}" SELECTED>{{key}}</option>"
        {% endfor %}
    </select>
    <input type="date" id="planned_date" name="planned_date" min="{{dates['today']}}"></input>
    <input type="submit" method="POST" action="{{url_for('dropdown')}}"></input>

</form>

{% set mylist =['Activity Code','Activity Description', 'Units','Planned Date','Accomplishment Date'] %}
<table style="margin:5%; text-align:left;">
    <tr>
        {% for header in mylist %}
        <th>
            {{header}}
        </th>
        {% endfor %}
    </tr>
    
    <tr>
        {% for key, value in activity.items() %}
        <td>
            {{key}}
        </td>
        <td>
            {{value[0]}}
        </td>
        <td>
            {{value[1]}}
        </td>
        {% endfor %}
        <td>
            {% set tmp = dates["planned_date"] %}
           {{tmp}}
        </td>
        
    </tr>
    
</table>

</body>
</html>