<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
    <style id="blue_div">
    </style>
    <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='css/global.css')}}">
    {% import 'macros.html' as macros %}
</head>
<body style="text-align:center;    text-align: -webkit-center;">
    {{ macros.navbar() }}
    
    <div style="overflow: auto; width: 80%; background-color:#1e1e1e; color: white; margin: auto;">
        <form id="activity" action="{{url_for('index.work_plan')}}" method="POST">
            <label for="route_id">Route ID</label>
            <input id="route_id"></input>
            <label for="bmp">Beginning MilePoint</label>
            <input id="bmp"></input>
            <label for="emp">Ending MilePoint</label>
            <input id="emp"></input>
            
            <label for="project_name">Project Name</label>
            <input id="project_name"></input>
            <label for="route_name">Route Name</label>
            <input id="route_name"></input>
            <select name="activity">
                {% for key,value in activity_dict.items() %}
                <option value= "{{key}}" SELECTED>{{key}}</option>"
                {% endfor %}
            </select>
            <label for="accomplishments">Accomplishments</label>
            <input id="accomplishments">
            <label for="crew_members">Crew Members</label>
            <input id="crew_members">
            <label for="travel_hours">Travel Hours</label>
            <input id="travel_hours">
            <label for="onsite_hours">Onsite Hours</label>
            <input id="onsite_hours">
            <input type="date" id="task_date" name="task_date" min="{{dates['today']}}"></input>
            <input type="submit" method="POST" action="{{url_for('index.work_plan')}}"></input>

        </form>

    </div>
    {% set mylist =['Activity Code','Activity Description', 'Units'] %}
    <table style="margin:5%;">
        {% for header in mylist %}
        <th>
            {{header}}
        </th>
        {% endfor %}
        {% for i in activity %}
        <td>
            {{i}}
        </td>
        {% endfor %}
    </table>

</body>
</html>