<!doctype html>
<html lang='en'>
  <head>
    <title>HPMS/Traffic Units</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='global.css')}}">
    {% import 'macros.html' as macros %}
  </head>
  <body style="text-align:center;    text-align: -webkit-center;">
    {{ macros.navbar() }}
    
    <h2>Transportation Performance Management (TPM) is a strategic approach that uses system information to help transportation agencies, including WVDOT, make investment and policy decisions to achieve transportation system performance goals.</h2>
    <img src="https://www.arcgis.com/sharing/rest/content/items/6627633bb9af4d448c0e3c8054b67931/resources/TPM__1591886750918.jpg">
    <p>TPM should be a regular, ongoing process. Federal rules for State Departments of Transportation (DOTs) and Metropolitan Planning Organizations (MPOs) related to TPM include:</p>
    <div style="text-align: left; width: 50%;">
        <ul>
            <li>Interagency Coordination</li>
            <li>Establish Performance Targets</li>
            <li>Support National Goals in the Planning Process</li>
            <li>Report Progress to the United States Department Of Transportation (USDOT)</li>
        </ul>
    </div>
  </body>
</html>
