<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/global.css')}}">
  {% import 'macros.html' as macros %}
</head>
<body style="position: absolute; width: -webkit-fill-available; height: 88%;">  
  {{ macros.navbar() }}

  <iframe style="width: -webkit-fill-available; height: 100%;" src="https://app.powerbigov.us/reportEmbed?reportId=7ca1b822-f032-42f1-bfd0-5e2ba6cfd55c&autoAuth=true&ctid=8a26cf02-434a-431e-8cad-7eaef97ef484&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWdvdi12aXJnaW5pYS1yZWRpcmVjdC5hbmFseXNpcy51c2dvdmNsb3VkYXBpLm5ldC8ifQ%3D%3D">
  </iframe>
</body>