<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='global.css')}}">
  {% import 'macros.html' as macros %}
</head>
<body style="position: absolute; width: -webkit-fill-available; height: 80%;">  
  {{ macros.navbar() }}

  <div class="flex-container">
    <div class="flex-child">
        <a href="{{ url_for('aadt_dashboard')}}" style='color: #ffe600; padding: 0 10px'>
          <iframe style="width: 100%; height: 100%;" src="https://app.powerbigov.us/reportEmbed?reportId=7353e72e-38bf-4359-ac5e-d0de0e3f3f84&autoAuth=true&ctid=8a26cf02-434a-431e-8cad-7eaef97ef484&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWdvdi12aXJnaW5pYS1yZWRpcmVjdC5hbmFseXNpcy51c2dvdmNsb3VkYXBpLm5ldC8ifQ%3D%3D">
          </iframe>
            <p style="text-align: center;">AADT Dashboard</p>
        </a>
    </div>
    <div class="flex-child">
        <a href="{{ url_for('gas_dashboard')}}" style='color: #ffe600; padding: 0 10px'>
          <iframe style="width: 100%; height: 100%;" src="https://app.powerbigov.us/reportEmbed?reportId=b935ec6b-b63c-47c7-a023-e77956bdc676&autoAuth=true&ctid=8a26cf02-434a-431e-8cad-7eaef97ef484&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLWdvdi12aXJnaW5pYS1yZWRpcmVjdC5hbmFseXNpcy51c2dvdmNsb3VkYXBpLm5ldC8ifQ%3D%3D">
          </iframe>
            <p style="text-align: center;">Traffic Summary Report (Gas Price)</p>
        </a>
    </div>
    <div class="flex-child">
        <a href="{{ url_for('landslide')}}" style='color: #ffe600; padding: 0 10px'>
            <img src="{{ url_for('static', filename='image/jeremy.png')}}" style='max-width: 50%; height: auto;' alt='Landslide Dashboard'>
            <p>Landslide Dashboard</p>
        </a>
    </div>
</div>

</body>

</html>